<!DOCTYPE html>
<html>
		<head>
			<!--{% load staticfiles %}-->
			<meta charset="UTF-8">
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>			
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"/>
			<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"> </script>
            <!--<script src="{% static "query_folketinget/search_ajax.js" %}"></script>-->
			<!--<link rel="stylesheet" href="{% static 'query_folketinget/custom.css' %}" />-->

</head>
		<body>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="jumbotron">
							<h1>Movie Critics</h1>
							<p>
								Are movie critics objective and professsional? We try to answer this and many other questions below.
							</p>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<form role="form">
							<div class="radio">
								<label><input type="radio" name="optradio" class="top_radio" id="net_random">Network Random</label>
							</div>
							<div class="radio">
								<label><input type="radio" name="optradio" class="top_radio" id="most_polarized">Most Polarized</label>
							</div>
							<div class="radio disabled">
								<label><input type="radio" name="optradio" class="top_radio" id="review_agreement_rate">Review Agreement</label>
							</div>
						</form>
					</div>
					<div class="col-lg-9">
						<img src="{% static "movie_critics/img/most_polarized.png" %}" alt="" class="img-responsive" id="top_image">
					</div>
				</div>
				<div class="row">
					<h2>Thumbnails</h2>
				</div>
				<div class="row">
				  <div class="col-lg-4">
				    <div class="thumbnail">
				      <img src="{% static "movie_critics/img/most_polarized.png" %}" alt="" class="img_thumb">
				      <div class="caption">
				        <h3>Polarized</h3>
				        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-lg-4">
				    <div class="thumbnail">
				      <img src="{% static "movie_critics/img/net_random.png" %}" alt="" class="img_thumb">
				      <div class="caption">
				        <h3>Random Net</h3>
				        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-lg-4">
				    <div class="thumbnail">
				      <img src="{% static "movie_critics/img/review_agreement_rate.png" %}" alt="" class="img_thumb">
				      <div class="caption">
				        <h3>Review Agreement</h3>
				        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
				      </div>
				    </div>
				  </div>
				</div>

				<!-- MODALS -->
				<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel"></h4>
				      </div>
				      <div class="modal-body">
				 			
				      </div>
				    </div>
				  </div>
				</div>
			</div>
	</body>
	<script>
		$(document).ready(function() {
		    $(".top_radio").change(function() {

		        chkBoxId = $(this).attr("id");

		        switch (chkBoxId ) {
		        case "net_random":
		            $("#top_image").attr("src","{% static "movie_critics/img/net_random.png" %}");
		            break;
		        case "most_polarized":
		            $("#top_image").attr("src","{% static "movie_critics/img/most_polarized.png" %}");
		            break;
		        case "review_agreement_rate":
		            $("#top_image").attr("src","{% static "movie_critics/img/review_agreement_rate.png" %}");
		            break;
		        default:
		            $("#top_image").attr("src","{% static "movie_critics/img/review_agreement_rate.png" %}");
		        }


		    });
           $('.img_thumb').on('click',function(){
           		var header = $(this).closest("div").find("h3").val();
                var src = $(this).attr('src');
                var img = '<img src="' + src + '" class="img-responsive"/>';
                $('#myModal').modal();
                $('#myModal').on('shown.bs.modal', function(){
                    $('#myModal .modal-body').html(img);
                    $('#myModal .modal-header h4').html(header);
                });
                $('#myModal').on('hidden.bs.modal', function(){
                    $('#myModal .modal-body').html('');
                });
           }); 
		});
	</script>
</html>
